@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loader {
    width: 60px;
}

.loader-wheel {
    animation: spin 1s infinite linear;
    border: 2px solid rgba(30, 30, 30, 0.5);
    border-left: 4px solid #fff;
    border-radius: 50%;
    height: 50px;
    margin-bottom: 10px;
    width: 50px;
}

:root {
    --fc-border-color: black;
    --fc-daygrid-event-dot-width: 5px;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
}

.fc {
    max-width: 1100px;
    margin: 0 auto;
    width: 900px;
}

.loader-text {
    color: #fff;
    font-family: arial, sans-serif;
}

.loader-text:after {
    content: 'Loading';
    animation: load 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        content: 'Loading';
    }
    33% {
        content: 'Loading.';
    }
    67% {
        content: 'Loading..';
    }
    100% {
        content: 'Loading...';
    }
}

.preloader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 9999;
}

.contact {
    padding: 60px 0 200px 0;
}

.contact img {
    width: 92%;
}

.contact h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}

.contact form input, .contact form textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    color: #2563EB;
    margin: 0 0 8px 0;
    padding: 18px 26px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
}

.contact form input:focus, .contact form textarea:focus {
    background: rgba(255, 255, 255, 1);
    color: #121212;
}

.contact form input::placeholder, .contact form textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #121212;
}

.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
    color: #121212;
    opacity: 0.8;
}

.contact form button {
    font-weight: 700;
    color: #ffffff;
    background-color: #2563EB;
    padding: 14px 48px;
    font-size: 18px;
    margin-top: 25px;
   
    position: relative;
    transition: 0.3s ease-in-out;
}

.contact form button span {
    z-index: 1;
    position: relative;
}

.contact form button:hover {
    color: #2563EB;
}

.contact form button::before {
    content: "";
    background: #121212;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 0.5rem/* 8px */;
    transition: 0.3s ease-in-out;
}

.contact form button:hover::before {
    width: 100%;
}

@media (max-width: 767px) {
    .banner-image {
        display: none;
    }
}

@media (min-width: 768px) {
    .banner-video {
        display: none;
    }
}
